.intro {
  position: relative;
  text-align: center;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  width: auto;
  height: 389px;
  background-color: #666;

  @media screen and (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 1330px auto;
  }
}

.intro__intro-image {
  padding-top: 99px;
  padding-bottom: 90px;
}

.intro::before {
  position: absolute;
  left: 0;
  top: 363px;
  content: '';
  width: 768px;
  height: 57px;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
}

@media screen and (min-width: $tablet-width) {
  .intro {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    height: 518px;
    @media screen and (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1330px auto;
    }
  }
  
  .intro::before {
    top: 461px;
    background-image: url("../img/bg-intro-triangle-tablet.svg");
  }

  .intro__intro-image {
    width: 460px;
    padding-top: 77px;
    padding-bottom: 91px;
  }
}
@media screen and (min-width: $desktop-width) {
  .intro {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  @media screen and (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-desktopt@2x.jpg");
    background-size: 1330px auto;
  }
  .intro::before {
    width: 1200px;
    background-image: url("../img/bg-intro-triangle-desktop.svg");
  }
}
