.page-nav {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.page-nav__list,
.site-list__item a {
  @include reset;
}

.site-list {
  display: flex;
  flex-direction: column;
}

.site-list__item {
  text-align: center;
  width: AUTO;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
  background-color: #81b3d2;
}

.site-list__item a {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
  color: #fff;
}
@media screen and (min-width:$tablet-width) {

  .main-nav {
    width: auto;
    margin: 0;
  }
  .page-nav__toogle {
    display: none;
  }

  .site-list {
    flex-direction: row;
  }

  .site-list__item {
    background-color: #fff;
    box-shadow: none;
  }

  .site-list__item a {
    color: #000;
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
@media screen and (min-width:$desktop-width) {
  .site-list__item {
    background-color: #fff;
    box-shadow: none;
  }

  .site-list__item a {
    color: #000;
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
