.page-nav {
  position: relative;
  width: 320px;
  min-height: 55px;
  margin: 0 auto;

}

.page-nav__list {
  @include reset;
}

.page-nav__toogle {
  position: absolute;
  bottom: -50px;
  right: 20px;
  z-index: 4;
  display: block;
  width: 23px;
  height: 22px;
  cursor: pointer;
  border: 0;
  background-color: #fff;
}

.page-nav--closed .page-nav__toogle::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  left: 0;
  top: 3px;
  box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
}

.page-nav--opened .page-nav__toogle {
  top: 10px;
  left: auto;
  right: 0;
  background-color: #81b3d2;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 4px;
    background-color: #fff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}
@media screen and (max-width:$mobile-width-only) {
  .page-nav--closed  .site-list__item {
    display: block;
  }
}
@media screen and (min-width:$tablet-width) {
  .page-nav {
    width: auto;
    margin: 0;
  }

  .page-nav__toogle {
    display: none;
  }
}
